@charset"UTF-8";

form{
	width: 500px;
	margin: auto;
}
input, textarea {
	font-family: sans-serif;
	font-weight: normal;
	font-size: 13pt;
	background-color: rgba(255, 255, 255, .8);

}
input:hover, textarea:hover {
	background-color: #dddddd;
}
legend{
	color: #888888;
	font-weight: bold;
	font-size: 13pt;
	font-family: sans-serif;
}
fieldset{
	border-color: #cecece;
	margin: 20px;
}
fieldset#sexo{
	width: 150px;
}
fieldset#usuario{
	background: url("../imagens/icone-contato.png")no-repeat 95% 95%;
}
fieldset#endereco{
	background: url("../imagens/icone-endereco.png")no-repeat 95% 95%;
}
fieldset#mensagem{
	background: url("../imagens/icone-mensagem.png")no-repeat 95% 95%;
}
fieldset#pedido{
	background: url("../imagens/icone-pagamento.png")no-repeat 95% 95%;
}

@media only screen and (min-width:921px) and (max-width:1030px) {

	header#cabecalho img#icone,
	header#cabecalho,
	header#cabecalho h1,
	header#cabecalho h2,
	nav#menu ul,
	nav#menu img,
	div#interface {

		max-width:890px;
		/*background-color: red;           cor der fundo para melhor visualizar as modificacoes*/
	}

	header#cabecalho img#icone {
		width: 170px;
		left: 79%;
	}

	header#cabecalho {
		width:100%;
	background: url("../imagens/glass-logo-peq.jpg") no-repeat 0px 80px ;
	}
	header#cabecalho h1 {
		width:100%;
	}
	header#cabecalho h2 {
		width:100%;
	}
	nav#menu ul{
		left: 40px;
		width: 90%;
		margin-top: 8px;
	}
	
}
	
	@media only screen and (min-width:780px) and (max-width:921px) {

	header#cabecalho img#icone,
	header#cabecalho,
	header#cabecalho h1,
	header#cabecalho h2,
	nav#menu ul,
	section#corpo,
	aside#lateral,
	div#video1,
	nav#menu img,

	div#interface {

		max-width:750px;
		/*background-color: blue;           cor der fundo para melhor visualizar as modificacoes*/
	}

	header#cabecalho img#icone {
		width: 20%;
		left: 580px;
	}

	header#cabecalho {
		width:100%;
		background: url("../imagens/glass-logo-peq.jpg") no-repeat 0px 80px ;
	}
	header#cabecalho h1 {
		width:100%;

	}
	header#cabecalho h2 {
		width:100%;
	}
	nav#menu ul{
		width: 85%;
		margin-top: 8px;
	}
	section#corpo{
		width: 50%;


	}
	aside#lateral{
		width: 45%;
	}
	div#video1{
	left: 0px;
	}
	
}

	@media only screen and (max-width:783px) {

	
	form,
	fieldset,


	form{
	width: 415px;
	margin: auto;
}
legend{
	width:50%;
}

fieldset{
	width: 50%
	margin:0;

}
fieldset#mensagem{
	width: 90%;
}
fieldset#mensagem{
	width: 30%;
}

 p {
     text-align:left;
     text-indent: 0px; 
}
div#interface {

		max-width:421px;
		/*background-color: blue;           cor der fundo para melhor visualizar as modificacoes*/
	}


